<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0037)http://cgi5.ebay.com/ws/eBayISAPI.dll -->
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->
      <meta name="language" content="English">
      <title>eBay &gt; 
         Create your listing
      </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="angularjs/angular_ebay.js"></script>
     
   </head>
   <body ng-app="ebay" ng-controller="ebay">
      <div id="content" class="emlcontent">
      <div class="pagewidth">
      <div class="pageminwidth">
         <div class="pagelayout">
            <div class="pagecontainer" style="margin: 10px 250px">
               <div class="shreskin-global-header">
                  <div>
                     
                     <link href="./images/oh20iy2dxq20njgeagi0gmkhyuw.css" type="text/css" rel="stylesheet">
                     <div class="gh-acc-exp-div gh-hide-if-nocss"><a id="gh-hdn-stm" class="gh-acc-a" href="http://cgi5.ebay.com/ws/eBayISAPI.dll#mainContent">Skip to main content</a></div>
                        <header id="gh" role="banner" class="gh-flex gh-pre-js gh-w gh-minH ">
                           <!--<![endif]-->
                           <table class="gh-tbl">
                              <tbody>
                                 <tr>
                                    <td class="gh-td">
                                       <!--[if lt IE 9]><a href="http://www.ebay.com/"  _sp="m570.l2586" id="gh-la">eBay<img role="presentation"  width=117 height=120 style='clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0'  alt="" src="http://ir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!--><a href="http://www.ebay.com/" _sp="m570.l2586" id="gh-la">eBay<img role="presentation" width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="./images/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a><!--<![endif]-->
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           </header>
                     
                  </div>
                  
               </div>
               <iframe name="rtm" id="rtm" height="0" width="0" frameborder="0" scrolling="no" title="Real time messaging" src="./images/saved_resource.html"> </iframe>
               <link rel="stylesheet" href="./images/main_e9871us.css" type="text/css">
               <link rel="stylesheet" href="./images/ebaystd_e9871us.css" type="text/css">
               <link rel="stylesheet" href="./images/main_e9871us(1).css" type="text/css">
               <link rel="stylesheet" href="./images/dyi_New_specStyles_e9871us.css" type="text/css">
               <link rel="stylesheet" href="./images/LeftNav_e9871us.css" type="text/css">
               
               <style type="text/css">
                  .marginTop, itm_spec {
                  margin-top: 0px!important;
                  }              
                  #ItemSpecifics_sec {    
                  padding-top: 0px!important;
                  }
               </style>
               
               
                  <div class="brdcmb" id="brdcmb">
                     <b>
                        <div class="level1">SELL YOUR ITEM</div>
                        <div class="inactive">
                           1. TELL US WHAT YOU'RE SELLING
                        </div>
                        <div class="inactive">2. CREATE YOUR LISTING</div>
                        <div class="active">
                           3. REVIEW YOUR LISTING
                        </div>
                     </b>
                  </div>
                  <div class="clr"></div><br><br>
                  <div class="areaTitleBox" id="areaTitleBox">
                     <div class="areaTitle">
                        <a name="mainContent" id="mainContent" tabindex="-1"></a>
                        <h1>
                           Create your listing
                        </h1>
                     </div>
                     <div class="areaCtl">
                        <div class="headerLnks"><span class="pipespace"><a href="javascript:{}" id="sSaveDraftLater" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacesyi">Save for later</a></span><span class="pipespace"><a href="http://pages.ebay.com/help/sell/contextual/inframe/creating-your-listing.html" id="helpBtnlink" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacesyi">Help</a></span><a href="http://ocsnext.ebay.com/ocs/eua?pid=581" id="cntctusLnk" onclick="ebayShowPopupWindow(this.href, &#39;&#39;, 472, 320, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;); return false;;" class="cntctimg">Contact us<b class="acc-hdn"> - opens in a new window or tab</b></a></div>
                     </div>
                     <div class="clr"></div>
                  </div>
                  <div id="page_message"></div>
                  <div id="cssError_sec">

                  </div>
                
                  <div id="TleCate">
                     <div class="ttlPanel-n">
                        <div class="ttlPanel-e">
                           <div class="ttlPanel-w"></div>
                        </div>
                     </div>
                     <div class="ttlPanel-head">

                        <h2 class="lst">Describe your item</h2>
                        
                     </div>
                     <div class="secCnt">
                        
                        <div id="crelsttle_sec">
                        </div>
                       
                        <div id="itmCondsec_sec">
                           <div class="idtHrz">
                              <div class="verSpc"> </div>
                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Item Name:
                                 </label></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <%= item_name%>
                              </div>
                              

                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Item Description:
                                 </label></span>&nbsp;&nbsp;&nbsp;
                              <%= item_desc%>
                              </div>
                              
                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Selling type:
                                 </label></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <%= sellingType%>
                              </div>

                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Price:
                                 </label></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <%= price%>
                              </div>

                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Quantity:
                                 </label></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <%= quantity%>
                              </div>

                              <br>
                           <br>
                           
                         
                        </div>
                        <div class="mgnBtmSm">
                           <div class="secAct">
                              <table cellpadding="0" cellspacing="0" border="0" summary="">
                                 <tbody>
                                    <tr>
                                       <td nowrap="">
                                       <span class="btn" style="margin-left: 10px" id="aidZ1_btnLbl"><span class="btn" id="aidZ1_btnLbl">
                                          <input type="submit" class="btnMain" value="continue" style="color: blue" ng-click="listing_db();">
                                          </span></span>
                                      
                                       </td>
                                       <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                                       <td nowrap=""><a href="javascript:{}" id="sSaveDraftLater_Bottom" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacesyi">Save for later</a></td>
                                       <td width="100%"><img src="./images/s.gif" width="1" height="1" alt=" "></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        
                           </div>
                         </div>                        
                       
      </div>
   </body>
</html>